 *{
    background-color: red;
    box-sizing: border-box; 
  }



 
h1{
    color: silver;
    margin-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    background-color: white;
}

hr{
    border:15px;">
    border:2px;
    width:75%
}

 

#p {
    padding: 60px 20px 10px 20px;
    border: 3px solid;
    font-size:18px;
    background-color:gray;
    color:black;
    font-weight: bold;
    font-style: italic;
  }

