 *{
    background-color: gold;
    box-sizing: border-box; 
  }



 
h1{
    margin-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    background-color: white;
}

#highlight {
    background-color: gray;
    border: 4px solid black;
    font-size:24px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    float: right;
    padding: 10px 30px 10px 30px;
}
#highlight2 {
    background-color: green;
    border: 4px solid black;
    font-size:24px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    float: right;
    padding: 10px 30px 10px 30px;
}
#highlight3 {
     
    background-color: pink;
    border: 4px solid black;
    font-size:24px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    float: right;
    padding: 10px 30px 10px 30px;
}

 

#p {
    padding: 60px 20px 10px 20px;
    border: 3px solid;
    font-size:18px;
    background-color:gray;
    color:black;
    font-weight: bold;
    font-style: italic;
  }

